In [3]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# Preparar el archivo

# Se requiere el archivo  Load_Excel_File.py  que viene adjunto en la carpeta
os.chdir('C:/Users/rguerrerop/AnalsysAssestmentFinal')

In [5]:
from Load_Excel_File import procesa_Excel
datos = procesa_Excel(os.getcwd(),'device_failure.xlsx')

In [7]:
df = datos
df.head()

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7
1,2015-01-01,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0
2,2015-01-01,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0
3,2015-01-01,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0
4,2015-01-01,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3

In [8]:
df.query('failure>0').head()

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
4885,2015-01-05,S1F0RRB1,1,48467332,64776,0,841,8,39267,56,56,1
6879,2015-01-07,S1F0CTDN,1,184069720,528,0,4,9,387871,32,32,3
8823,2015-01-09,W1F0PNA5,1,136429411,64784,0,406,30,224801,8,8,0
11957,2015-01-13,W1F13SRV,1,188251248,2040,0,0,6,39345,32,32,1
12668,2015-01-14,W1F1230J,1,220461296,0,0,0,14,325125,0,0,0

In [54]:
df = df.filter(['date','device','failure','attribute1','attribute6'])

In [59]:
df.head()

         date    device  failure  attribute1  attribute6
0  2015-01-01  S1F01085        0   215630672      407438
1  2015-01-01  S1F0166B        0    61370680      403174
2  2015-01-01  S1F01E6Y        0   173295968      237394
3  2015-01-01  S1F01JE0        0    79694024      410186
4  2015-01-01  S1F01R2B        0   135970480      313173

In [100]:
trainingData=df[["failure","attribute1","attribute6"]]
trainingData.head()

   failure  attribute1  attribute6
0        0   215630672      407438
1        0    61370680      403174
2        0   173295968      237394
3        0    79694024      410186
4        0   135970480      313173

In [101]:
def catToNum(series):
    series = series.astype('category')
    return series.cat.codes

In [102]:
catData=trainingData[["failure","attribute1","attribute6"]].apply(catToNum)
trainingData[["failure","attribute1","attribute6"]]=catData
trainingData.head()

   failure  attribute1  attribute6
0        0      109478       40319
1        0       31009       40173
2        0       87648       12426
3        0       40199       40424
4        0       68599       32288

In [103]:
len(trainingData)

124494

In [104]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(trainingData, test_size = 0.2)

In [105]:
train.head()

        failure  attribute1  attribute6
15710         0      106075       21781
88519         0      101454       38116
59941         0       45668       42616
95464         0       36314       24605
114917        0       67121       21061

In [106]:
from sklearn.tree import DecisionTreeClassifier

In [107]:
clf=DecisionTreeClassifier(max_leaf_nodes=20)
clf=clf.fit(train[["attribute1","attribute6"]],train['failure'])

In [108]:
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=20,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [112]:
clf.feature_importances_

array([0.42803692, 0.57196308])

In [114]:
from sklearn import tree
with open("arbol.dot","w") as f:
    f = tree.export_graphviz(clf,
                           feature_names=["attribute1","attribute6"],out_file=f)